@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

:root {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    --color_1:#DCF2F1;
    --color_2:#7FC7D9;
    --color_3:#365486;
    --color_4: #0F1035;
    --color_5: #000;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* global */

html {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header div.img-con {
    display: flex;
    justify-content: center;
    margin: 4rem;
}

header .nav-bar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding-inline: 10%;
    background: var(--color_3);
}

header .nav-bar a {
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    color: white;

    transition: 0.3s;
}

header .nav-bar a.active,
header .nav-bar a:hover {
    background: var(--color_2);
    color: var(--color_4);
}

div.back-to-top {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

div.back-to-top .to-top-button {
    cursor: pointer;
    font-size: 1.5rem;
    background: var(--color_4);
    color: var(--color_1);
    padding: 1.5rem;
    border-radius: 5rem;
}

div.back-to-top .to-top-button:hover {
    background: var(--color_1);
    color: var(--color_3);
    box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
    margin-top: auto;
    width: 100%;
    background: white;
    border-top: 1px solid var(--color_1);
}

footer .sns {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

footer .sns a {
    padding: 0.5rem;
    transition: 0.3s;
}

footer .sns a:hover {
    transform: translateY(-10%);
}

footer .credit {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem;
    background: var(--color_3);
    color: white;
}

/* global */

/* animation */

@keyframes slide-left {
    from {
        transform: translateX(-300%);
    }

    to {
        transform: translateX(-50%);
    }
}

.slide-left {
    animation-name: slide-left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes slide-right {
    from {
        transform: translateX(200%) translateY(-50%);
    }

    to {
        transform: translateX(-50%) translateY(-50%);
    }
}

.slide-right {
    animation-name: slide-right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.parallax {
    background-image: url("media/2nd-box.webp");

    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* animation */

/* index */

section div.hero {
    position: relative;
    width: 100%;
    max-height: 70rem;
    min-height: 70rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

section div.hero img {
    width: 150%;
    transform: translateX(-16.67%);
}

section div.hero h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 7rem;
    top: 35%;
    color: white;
    background: var(--color_3);
    padding-inline: 2rem;
    text-align: center;
}

section div.hero h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55%;
    font-size: 3rem;
    color: white;
    background: var(--color_4);
    padding-inline: 2rem;
    text-align: center;
}

section div.content-box {
    position: relative;
    min-height: 70rem;
    max-height: 70rem;
    overflow: hidden;
}

section div.content-box .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 62rem;
    padding: 4rem;
    background: var(--color_1);
}

section div.content-box .grid .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    overflow: hidden;
}

section div.content-box .grid .img-box img {
    min-height: 100%;
    object-fit: cover;
}

section div.content-box .grid .text-con {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    
    background: white;
}

section div.content-box .grid .text-con p {
    font-size: 1.8rem;
}

section div.content-box .text-con-2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100;
    width: 100%;
}

section div.content-box .text-con-2 h2 {
    font-size: 4rem;
    text-align: center;
    color: white;
    background: #365386a8;width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

section div.content-box .text-con-2 p {
    font-size: 2.2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 70%;
    text-align: center;
    background: var(--color_1);
    padding: 2rem;
}

section div.content-box .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70rem;
    overflow: hidden;
}

section div.content-box .grid-2 img {
    min-width: 100%;
    object-fit: cover;
}

section div.content-box .grid-2 .text-con {
    padding: 4rem;
    background: var(--color_4);
    color: var(--color_1);
    height: 70rem;
}

section div.content-box .grid-2 .text-con h2 {
    font-size: 4rem;
}

section div.content-box .grid-2 .text-con p {
    font-size: 2rem;
}

section div.content-box .grid-small-box {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 70rem;
}

section div.content-box .grid-small-box .small-box {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

section div.content-box .grid-small-box .small-box img {
    min-height: 100%;
    object-fit: cover;
}

section div.content-box .grid-small-box .small-box h3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    margin-top: 3rem;
    text-decoration: underline;
}

section div.content-box .grid-small-box .small-box h3 a {
    color: black;
}

section div.content-box .grid-small-box .small-box p {
    position: absolute;
    top: 8rem;
    left: 50%;
    width: 75%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.8rem;
    color: var(--color_1);
    background: #0f103542;
}

/* index */

/* 3-linkie */

section.three-linkie {
    margin-inline: 10%;
    overflow: hidden;
}

section.three-linkie .img-with-text {
    position: relative;
}

section.three-linkie img.big {
    width: 100%;
}

section.three-linkie .img-with-text .logo {
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

section.three-linkie .img-with-text .code {
    position: absolute;
    left: 35%;
    top: 25%;
    transform: translateX(-50%) translateY(-50%);
}

section.three-linkie .img-with-text h2 {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    width: 80%;
}

section.three-linkie .img-with-text p {
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    width: 80%;
}

section.three-linkie h1 {
    font-size: 7rem;
    text-align: center;
    padding: 7rem;
}

section.three-linkie h2 {
    font-size: 4.5rem;
    text-align: center;
    margin: 1rem;
}

section.three-linkie h3 {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

section.three-linkie p {
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}

section.three-linkie h2.mini{
    color: black;
    top: 20%;
}

section.three-linkie p.mini {
    color: black;
    top: 25%;
}

section.three-linkie .vid-con {
    display: flex;
    justify-content: center;
    aspect-ratio: 560/315;
}

section.three-linkie .two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: black;
}

section.three-linkie .two-col-grid img {
    width: 100%;
}

section.three-linkie .two-col-grid .text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.tutorial-vid {
    position: relative;
    width: 85%;
    margin-left: 5%;
    padding: 2.5%;
    background: var(--color_2);
    border: 0.5rem solid var(--color_4);
}

div.tutorial-vid .prev,.next {
    position: absolute;
    top: -2%;

    cursor: pointer;
    width: 5%;
    height: 103%;
    background: var(--color_3);
    font-size: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 0.5rem solid var(--color_4);

    transition: 0.3s;
}

div.tutorial-vid .prev {
    left: -5%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

div.tutorial-vid .next {
    right: -5%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

div.tutorial-vid .prev:hover,
div.tutorial-vid .next:hover {
    background: #000;
    color: white;
    width: 10%;
}

div.tutorial-vid .vid-info {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    background: var(--color_1);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

div.tutorial-vid .vid-con-slide {
    display: flex;
    justify-content: center;
    aspect-ratio: 560/315;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    overflow: hidden;
}

/* 3-linkie */



















/* about */

section div.about {
    display: flex;
    justify-content: space-evenly;
}

section div.about .main {
    padding: 3rem;
    max-width: 60rem;
}

section div.about .main h1 {
    font-size: 5rem;
}

section div.about p {
    font-size: 1.5rem;
}

section div.about .sub {
    max-width: 60rem;
    padding: 3rem;
    padding-left: 0;
}

section div.about .sub img {
    width: 100%;
}

section div.about .sub h3 {
    font-size: 2.5rem;
    margin-block: 1rem;
}

section div.about .sub p {
    margin-block: 1rem;
}

/* about */

/* contact */

section .contact h2 {
    text-align: center;
    font-size: 5rem;
    padding: 2rem;
}

section .contact p {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}

section .contact p a {
    color: black;
}

section .contact p a:hover {
    text-decoration: underline;
}

/* contact */

/* media query */

@media (max-width:1024px) {
    :root {
        font-size: 50%;
    }
}

@media (max-width:820px) {
    :root {
        font-size: 40%;
    }
}

@media (max-width:640px) {
    :root {
        font-size: 30%;
    }
}

@media (max-width:490px) {
    :root {
        font-size: 18%;
    }
}

@media (max-width:320px) {
    :root {
        font-size: 15%;
    }
}
/* media query */